<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      debounce="500"
      color="primary"
      (ionChange)="search($event)"
      placeholder="Search item..."
      >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="filteredProducts.length > 0">
          <ion-item *ngFor="let p of filteredProducts">
            <ion-thumbnail>
              <ion-img [src]="p.images[0].src" [alt]="p.name"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h4>{{p.name}}</h4>
              <ion-text>
                <p>{{p.price | currency: 'USD'}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- Skeleton text -->
        <ion-list *ngIf="showSkeleton">
          <ion-item *ngFor="let d of [].constructor(10)">
            <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></h3>
              <ion-text>
                <p><ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text></p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- No items -->
        <ion-list *ngIf="filteredProducts.length <= 0 && touched" lines="none">
          <ion-item>
            <ion-label>
              <h3>No products found...</h3>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
