ion-badge {
    position: absolute;
    margin-right: 50px;
    right: 0;
    top: 24px;
    color: #0093ff;
}

ion-icon[name="cart"] {
    color: rgb(207, 97, 97);
}

ion-buttons[slot="end"] > ion-button.search {
    margin: 0 8px;
}

ion-buttons[slot="primary"] {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    ion-button {
        flex: 1;
    }
}

.item-entry {
    padding: 10px 0;
}

.item-name {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ion-color-dark-tint);
}

.price {
    color: var(--ion-color-tertiary-tint);
    font-weight: 500;
    font-size: 16px;;
}